<% include sidebar.ejs %>
<div class="dt-content">

    <!-- Page Header -->
    <!-- <div class="dt-page__header">
            <h1 class="dt-page__title">Basic Form</h1>
          </div> -->
    <!-- /page header -->



    <!-- Grid -->
    <div class="row">
        <!-- Grid Item -->
        <div class="col-12">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->
                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Allow Access</h3>
        
                    </div>
                    <!-- /card heading -->
                    
                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">

                        <% profile.forEach(function(profileedits){%>


                    <!-- Form -->
                    <form action="/admin/user/<%= profileedits._id%>" enctype="multipart/form-data" method="post">

                            <div class="form-row input-group">
                                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Name</label>
        
                                    <div class="col-md-10 col-sm-9">
                                        <input type="text" class="form-control" value="<%= profileedits.name %>" readonly id="normal-input-1"
                                            >
                                    </div>
                                </div>
        
                                <br />

                            <div class="form-row input-group">
                                <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Previous Permission</label>
            
                                <div class="col-md-10 col-sm-9">
                                  <input type="text" class="form-control" value="<%= profileedits.permission %>" readonly id="normal-input-1"
                                                >
                                </div>
                            </div>
            
                                    <br />

                            <div class="form-row input-group">
                                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                                        for="simple-select">Role Name</label>
                                    <div class="col-md-10 col-sm-9">
                                        <select class="custom-select" name = "permission" id="inputGroupSelect04">
                                            <option selected>Choose Role Name</option>
                                            <option value="user">User</option>
                                        </select>
                                    </div>
                                </div>
                                
                        <hr class="border-dashed my-8">
                        <div class="form-row input-group">

                            <div class="col-md-12 offset-md-2 offset-sm-3">
                                <button class="btn btn-primary" style='float:left;' type="submit">Submit</button>
                            </div>
                        </div>

                        <br />
                    </form>

                    <%})%>

                </div>
            </div>
        </div>
    </div>
</div>


<% include footer.ejs %>