<% include sidebar.ejs %>

<div class="dt-content">

  <!-- Page Header -->
  <!-- <div class="dt-page__header">
    <h1 class="dt-page__title">New Procedure</h1>
  </div> -->
  <!--  /page header -->



  <!-- Grid -->
  <div class="row">
    <!-- Grid Item -->
    <div class="col-xl-12">

      <!-- Card -->
      <div class="dt-card">

          <div class="dt-card__header">
  
              <!-- Card Heading -->
              <div class="dt-card__heading">
                <h3 class="dt-card__title">New Procedure</h3>
              </div>
              <!-- /card heading -->
                  <a type="button" href="/admin/add/procedure/type" role="button" class="btn btn-dark mr-2 mb-2"> Add Procedure Type</a>
                  <a type="button" href="/admin/add/procedure/norms" role="button" class="btn btn-dark mr-2 mb-2"> Add Norms</a>
                  <a type="button" href="/admin/add/procedure/tags" role="button" class="btn btn-dark mr-2 mb-2"> Add Procedure Tags</a>
    
            </div>

        <!-- Card Header -->
      
        <!-- /card header -->
        <div class="dt-card__body">
          <form method="post">
            <div class="form-row">
              <div class="col-sm-6 mb-3">
                <label>Procedure Type</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Procedure Type</option>
                    <option value="1">Procedure</option>
                    <option value="2">Process</option>
                    <option value="3">Work Instruction</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Procedure Name</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Enter Procedure Name"
                  required>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Procedure Number</label>
                <input type="number" class="form-control" id="validationDefault03" placeholder="Enter Procedure Number"
                  required>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Scope</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Enater Procedure Scope"
                  required>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Status</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Status</option>
                    <option value="draft">Draft</option>
                    <option value="pending">Pending</option>
                    <option value="active">Active</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Forms</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Forms</option>
                    <option value="1">HSE Check Management Walk</option>
                    <option value="2">Last minute Safety Check </option>
                    <option value="3">Purchase Order Form</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Related Procedure</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Related Procedures</option>
                    <option value="1">Hiring Contractors</option>
                    <option value="2">Logistics</option>
                    <option value="3">Purchase</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Select Norms</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Norms</option>
                    <option value="1">ISO 9001</option>
                    <option value="2">ISO 9000</option>
                    <option value="3">ISO 22000</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Quality Records</label>
                <input type="text" class="form-control" id="validationDefault03"
                  placeholder="Enter Quality Records Here" required>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Expiration Date</label>
                <div class="input-group date" id="date-time-picker-1" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#date-time-picker-1" />
                  <div class="input-group-append" data-target="#date-time-picker-1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="icon icon-calendar"></i></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                  <label>Select Company Name</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Company Name</option>
                    <option value="1">ABC LTD.</option>
                    <option value="2">BCD LTD.</option>
                    <option value="3">DEF LTD.</option>
                  </select>
                </div>
              </div>

                <div class="col-sm-6 mb-3">
                    <label>Version</label>
                    <input type="number" class="form-control" id="validationDefault03" placeholder="Auto Increased field"
                      required>
                  </div>

              <div class="col-sm-6 mb-3">
                <label>Owner</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Owner</option>
                    <option value="1">Chris Wiser</option>
                    <option value="2">Bradley Matthews</option>
                    <option value="3">Kim Peterson</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <label>Approver</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose Approver</option>
                    <option value="1">Tom Dickson</option>
                    <option value="2">Daniel Richards</option>
                    <option value="3">Kevin Peterson</option>
                  </select>
                </div>
              </div>

              

              <div class="col-sm-12 mb-3 form-row">
                <label class=" col-form-label text-sm-left" for="file-field">Attached Files</label>

                <div class="col-md-12 col-sm-9">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file-field">
                    <label class="custom-file-label" for="file-field">Attacthed your files here ..</label>
                  </div>
                </div>
              </div>


              

              <div class=" col-sm-12 mb-4 ">
                  <label class=" text-sm-left mb-4">Flowchart</label>
                <button type="button" href="javascript:void(0)" role="button" class="btn btn-dark mr-2 mb-2">Design your flowchart</button>
              </div>

              <div class=" col-sm-12 mb-4 ">
                  <label>Description</label>
              <div class=" col-sm-12 mb-4 " id="summernote">
                  
        
                </div>
                </div>
          

            </div>

            <hr class="border-dashed my-8">

            <div class=" form-row mb-4 ">
              <label class="col-md-2 col-sm-3 text-sm-right mb-4 mb-sm-0">Read Confirmation</label>
              <div class="col-md-10 col-sm-9">

                <!-- Checkbox -->
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" id="customcheckboxInline1" name="customcheckboxInline1"
                    class="custom-control-input" checked>
                  <label class="custom-control-label" for="customcheckboxInline1"></label>
                </div>
              </div>
            </div>
          

            <hr class="border-dashed my-8">

            <div class="form-group form-row mb-0 col-md-12">
                <button type="submit" class="btn btn-primary text-uppercase">Submit this procedure</button>
            </div>

            


          </form>
        </div>
        <!-- Card Body -->


      </div>
      <!-- /card body -->

    </div>
    <!-- /card -->

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->


<!-- /site content -->


<% include footer.ejs %>