<% include header.ejs %>

<!-- Sidebar -->
<aside id="main-sidebar" class="dt-sidebar">
  <div class="dt-sidebar__container">

    <!-- Sidebar Notification -->
    <div class="dt-sidebar__notification  d-none d-lg-block">
      <!-- Dropdown -->
      <div class="dropdown mb-6" id="user-menu-dropdown">


        <img class="dt-avatar" src="/img/user-male-icon.png" alt="Admin Name">
        <span class="dt-avatar-info">
          <span class="dt-avatar-name" style="color:#fd7e14;font-size:17px"><%= user.name %></span>

          <span class="f-15" style="color:#fff;"><%= user.permission %></span>
        </span>
        <!-- /dropdown link -->

        <!-- Dropdown Option -->
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dt-avatar-wrapper flex-nowrap p-6 mt--5 bg-gradient-purple text-white rounded-top">
            <img class="dt-avatar" src="/img/user-male-icon.png" alt="Jazz">
            <span class="dt-avatar-info">
              <span class="dt-avatar-name"><%= user.name %></span>
              <span class="f-12"><%= user.permission %></span>
            </span>
          </div>
          <a class="dropdown-item" href="/user/information"> <i
              class="icon icon-user-o icon-fw mr-2 mr-sm-1"></i>Account
          </a> <a class="dropdown-item" href="javascript:void(0)">
            <i class="icon icon-setting icon-fw mr-2 mr-sm-1"></i>Setting </a>
          <a class="dropdown-item" href="/"> <i class="icon icon-edit icon-fw mr-2 mr-sm-1"></i>Logout
          </a>
        </div>
        <!-- /dropdown option -->

      </div>

    </div>
    <!-- /sidebar notification -->

    <!-- Sidebar Navigation -->
    <ul class="dt-side-nav">

      <!-- Menu Header -->

      <!-- /menu header -->
      <li class="dt-side-nav__item dt-side-nav__header">

      </li>
      <!-- Menu Item -->
      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Dashboard">
          <i class="icon icon-dashboard icon-fw icon-xl"></i> <span class="dt-side-nav__text">Dashboard</span> </a>

      </li>


      <!-- /menu item -->

      <!-- /menu header -->

      <!-- Menu Item -->


      <!-- /menu header -->

      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Capa">
          <i class="icon icon-tasks icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Capa</span> </a>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="/admin/create/task" class="dt-side-nav__link" title="New Capa"> <i
                class="icon icon-add icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">New Capa</span> </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="/admin/view/task" class="dt-side-nav__link" title="View Capa"> <i
                class="icon icon-custom-view icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">View All Capa</span> </a>
          </li>

        </ul>
      </li>

      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Documentation">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Documentation</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item active">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Policy">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Policy</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/policy" class="dt-side-nav__link" title="New Policy's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Policy's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/policy" class="dt-side-nav__link" title="View Policy's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Policy's</span> </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Objective">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Objective</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/objective" class="dt-side-nav__link" title="New Objective's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Objective's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/objective" class="dt-side-nav__link" title="View Objective's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Objective's</span> </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Organization Chart">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Organization Chart</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/organizationchart" class="dt-side-nav__link" title="New Organization Chart's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Organization Chart's</span> </a>
              </li>

            </ul>
          </li>
        </ul>

        <ul class="dt-side-nav__sub-menu">
          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="flowchart">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Flow Chart</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/flowchart" class="dt-side-nav__link" title="New Flowchart"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Flow Chart</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/view/flowchart" class="dt-side-nav__link" title="View flowchart"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All flowchart</span> </a>
              </li>

            </ul>
          </li>
        </ul>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Quality Manual">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Quality Manual</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/qualitymanual" class="dt-side-nav__link" title="New Quality Manual"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Quality Manual</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/qualitymanual" class="dt-side-nav__link" title="View Quality Manual"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View Quality Manual</span> </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Procedure">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Procedure</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/procedure" class="dt-side-nav__link" title="New Procedure's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Procedure's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/procedure" class="dt-side-nav__link" title="View Procedure's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Procedure's</span> </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Forms">
              <i class="icon icon-feedback icon-fw icon-xl"></i>
              <span class="dt-side-nav__text"> Forms & Records</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="Forms for Planning"> <i
                    class="icon icon-feedback icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Forms for Planning</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="Forms for Capa"> <i
                    class="icon icon-feedback icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Forms for Capa</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="Forms for Issues"> <i
                    class="icon icon-feedback icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Forms for Issues</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="Forms for Internal Audit"> <i
                    class="icon icon-feedback icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Forms for Internal Audit</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="Add Generals Forms"> <i
                    class="icon icon-feedback icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Generals Forms</span> </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="externaldocument">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">External Document</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/Externaldocument" class="dt-side-nav__link" title="New Externaldocument's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New External Document's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/Externaldocument" class="dt-side-nav__link" title="View Externaldocument's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All External Document's</span> </a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="externaldocument">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Master List Document</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/view/masterlistdocument" class="dt-side-nav__link" title="View all document's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Document's</span> </a>
              </li>
            </ul>
          </li>
        </ul>

      </li>

      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Management">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Management</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item active">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow"
              title="Context of the Organization">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Context of the Organization</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/cto" class="dt-side-nav__link" title="New Context of the Organization"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Context of the Organization</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/cto" class="dt-side-nav__link" title="View Context of the Organization"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Context of the Organization</span> </a>
              </li>
            </ul>
          </li>


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Risk Management">
              <i class="icon icon-feedback icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Risk Management</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Issue">
                  <i class="icon icon-map-drawing icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Issue</span> </a>

                <ul class="dt-side-nav__sub-menu">

                  <li class="dt-side-nav__item">
                    <a href="/create/issue" class="dt-side-nav__link" title="New Issue's"> <i
                        class="icon icon-add-circle icon-fw icon-xl"></i>
                      <span class="dt-side-nav__text">New Issue's</span> </a>
                  </li>
                  <li class="dt-side-nav__item">
                    <a href="/view/issue" class="dt-side-nav__link" title="View Issue's"> <i
                        class="icon icon-all-contacts icon-fw icon-xl"></i>
                      <span class="dt-side-nav__text">View All Issue's</span> </a>
                  </li>
                </ul>
              </li>



              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Risk Matrix">
                  <i class="icon icon-map-drawing icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Risk Matrix</span> </a>

                <ul class="dt-side-nav__sub-menu">

                  <li class="dt-side-nav__item">
                    <a href="/admin/create/risk" class="dt-side-nav__link dt-side-nav__arrow" title="Risk">
                      <i class="icon icon-select icon-fw icon-xl"></i>
                      <span class="dt-side-nav__text">New Risk</span> </a>
                  </li>



                  <li class="dt-side-nav__item">
                    <a href="/admin/view/risk" class="dt-side-nav__link" title="View Risk"> <i
                        class="icon icon-add-circle icon-fw icon-xl"></i>
                      <span class="dt-side-nav__text">View Risk</span> </a>
                  </li>

                </ul>
              </li>
            </ul>
          </li>


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Management Meeting">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Management Meeting</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/managemntmeeting" class="dt-side-nav__link" title="New Management Meeting's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Plan Management Meeting's</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/create/managemntmeeting" class="dt-side-nav__link" title="View Management Meeting's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View Management Meeting's</span> </a>
              </li>

            </ul>
          </li>



          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Impartiality">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Impartiality</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/flowchart" class="dt-side-nav__link" title="New Impartiality"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Impartiality</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/view/flowchart" class="dt-side-nav__link" title="View Impartiality"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Impartiality</span> </a>
              </li>

            </ul>
          </li>




          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Confidentiality">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Confidentiality</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/confidentiality" class="dt-side-nav__link" title="New Confidentiality"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Confidentiality</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/confidentiality" class="dt-side-nav__link" title="View Confidentiality"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View Confidentiality</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>


      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Human Resource">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Human Resource</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Employee Management">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Employee Management</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/employee" class="dt-side-nav__link" title="Add Employee's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Employee</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/employee" class="dt-side-nav__link" title="List of Employee's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Employee</span> </a>
              </li>
            </ul>
          </li>


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Training Management">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Training Management</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Induction Training"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Induction Training</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Training Need Identification"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Training Need Identification</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Training Plan"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Training Plan</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Training Reports"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Training Reports</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Staff Evaluation"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Staff Evaluation</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="#" class="dt-side-nav__link" title="Training Reports"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Certificate Sheet</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow"
              title="Sub Contract Employee Management">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Sub Contract Employee Management</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/subcontract" class="dt-side-nav__link" title="Add Sub Contract Employee"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Sub Contract Employee</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/subcontractemployee" class="dt-side-nav__link"
                  title="List of Sub Contract Employee"> <i class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Sub Contract Employee</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Sales & Marketing">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Sales & Marketing</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Enquiry">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Enquiry</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/enquiry" class="dt-side-nav__link" title="Add Enquiry's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Enquiry</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/enquiry" class="dt-side-nav__link" title="List of Enquiry's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Enquiries</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Contract Quotation">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Contract Quotation</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/contractquotation" class="dt-side-nav__link" title="Add Contract Quotation's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Contract Quotation</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/contractquotation" class="dt-side-nav__link" title="List of Contract Quotation's">
                  <i class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Contract Quotation</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Proposal">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Proposal</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/proposal" class="dt-side-nav__link" title="Add Proposal's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Proposal</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/proposal" class="dt-side-nav__link" title="List of Proposal's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Proposal</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Customer Feedback">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Customer Feedback</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/view/custfeed" class="dt-side-nav__link" title="List of Customer Feedback's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Customer Feedback</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Complain">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Complain</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/view/complain" class="dt-side-nav__link" title="List of Complain's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Complain</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>


      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Purchase">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Purchase</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Supplier">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Supplier</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/supplier" class="dt-side-nav__link" title="Add Supplier's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Supplier</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/supplier" class="dt-side-nav__link" title="List of Supplier's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Suppliers</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Material list & PO">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Material list & PO</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/materiallpo" class="dt-side-nav__link" title="Add Material list & PO's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Material List & PO</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/materiallpo" class="dt-side-nav__link" title="List of Material list & PO's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Material List & POs</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>


      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Quality Plan">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Quality Plan</span> </a>

        <ul class="dt-side-nav__sub-menu">


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="QC Plan">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">QC Plan</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/qcplan" class="dt-side-nav__link" title="Add QC Plan's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add QC Plan</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/qcplan" class="dt-side-nav__link" title="List of QC Plan's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of QC Plans</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Incoming Check">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Incoming Check</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/incomingcheck" class="dt-side-nav__link" title="Add Incoming Check's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add Incoming Check</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/incomingcheck" class="dt-side-nav__link" title="List of Incoming Check's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of Incoming Checks</span> </a>
              </li>
            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="QC Check">
              <i class="icon icon-select icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">QC Check</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/add/qccheck" class="dt-side-nav__link" title="Add QC Check's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add QC Check</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/qccheck" class="dt-side-nav__link" title="List of QC Check's"> <i
                    class="icon icon-tree icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">List of QC Checks</span> </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>



      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="OPeration">
          <i class="icon icon-feedback icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">OPeration</span> </a>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow"
              title="Facility & Equip Management">
              <i class="icon icon-extra-components icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Facility & Equip Management</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">

                <a href="/admin/create/tool" class="dt-side-nav__link" title="Add Tool's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add New Tool's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/tool" class="dt-side-nav__link" title="View Tool's"> <i
                    class="icon icon-all-contacts icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Tool's</span> </a>
              </li>

            </ul>
          </li>



          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Internal Audit">
              <i class="icon icon-feedback icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Internal Audit</span> </a>

            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="javascript:void(0)" class="dt-side-nav__link" title="View All Internal Audit">
                  <i class="icon icon-map-drawing icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Internal Audit</span> </a>
              </li>
            </ul>
          </li>

          <!-- Menu Item -->
          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Planning">
              <i class="icon icon-calendar-new icon-fw icon-xl"></i>
              <span class="dt-side-nav__text"> Planning Management</span> </a>

            <!-- Sub-menu -->
            <ul class="dt-side-nav__sub-menu">


              <li class="dt-side-nav__item">
                <a href="/admin/create/planning" class="dt-side-nav__link" title="Add New Planning"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Add New Planning</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/planning" class="dt-side-nav__link" title="View Planning's"> <i
                    class="icon icon-collapse icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View All Planning's</span> </a>
              </li>

            </ul>
          </li>

          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Survey">
              <i class="icon icon-ckeditor icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Survey</span> </a>

            <!-- Sub-menu -->
            <ul class="dt-side-nav__sub-menu">

              <li class="dt-side-nav__item">
                <a href="/admin/create/survey" class="dt-side-nav__link" title="New Survey's"> <i
                    class="icon icon-add-circle icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">New Survey's</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/survey" class="dt-side-nav__link" title="View Survey's"> <i
                    class="icon icon-all-contacts icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">View Survey's</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/sent/surveyinvitation" class="dt-side-nav__link" title="Survey Invitation Sent"> <i
                    class="icon icon-link icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Survey Invitation </span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/view/analysis" class="dt-side-nav__link" title="Analysis"> <i
                    class="icon icon-map-drawing icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Analysis</span> </a>
              </li>

              <li class="dt-side-nav__item">
                <a href="/admin/view/previewanalysis" class="dt-side-nav__link" title="Preview Analysis"> <i
                    class="icon icon-view icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Preview Analysis</span> </a>
              </li>

            </ul>
          </li>


          <li class="dt-side-nav__item">
            <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Reports">
              <i class="icon icon-table icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Reports</span> </a>

            <!-- Sub-menu -->
            <ul class="dt-side-nav__sub-menu">
              <li class="dt-side-nav__item">
                <a href="/admin/create/reports" class="dt-side-nav__link" title="Create New Reports"> <i
                    class="icon icon-table-data icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Create New Reports</span> </a>
              </li>
              <li class="dt-side-nav__item">
                <a href="/admin/view/reports" class="dt-side-nav__link" title="Generate Reports"> <i
                    class="icon icon-extra-components icon-fw icon-xl"></i>
                  <span class="dt-side-nav__text">Generate Reports</span> </a>
              </li>

            </ul>
          </li>
        </ul>
      </li>

      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="User Management">
          <i class="icon icon-profile2 icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">User Management</span> </a>

        <ul class="dt-side-nav__sub-menu">

          <li class="dt-side-nav__item">
            <a href="/admin/confirm/users" class="dt-side-nav__link" title="Confirm User"> <i
                class="icon icon-check-square-o icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Confirm User</span> </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="/admin/active/users" class="dt-side-nav__link" title="Active User"> <i
                class="icon icon-user icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Active User</span> </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="/admin/rejected/users" class="dt-side-nav__link" title="Rejected User"> <i
                class="icon icon-user-o icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Rejected User</span> </a>
          </li>

        </ul>
      </li>


      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Company Details">
          <i class="icon icon-company icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Company Details</span> </a>

        <!-- Sub-menu -->
        <ul class="dt-side-nav__sub-menu">
          <!-- Menu Item -->
          <li class="dt-side-nav__item">
            <a href="/admin/add/basic" class="dt-side-nav__link" title="Basic Setup"> <i
                class="icon icon-profile2 icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Basic Setup</span> </a>
          </li>
        </ul>

        <!-- /menu header -->
      <li class="dt-side-nav__item">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Client Information">
          <i class="icon icon-wall icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Account Information</span> </a>

        <!-- Sub-menu -->
        <ul class="dt-side-nav__sub-menu">
          <!-- Menu Item -->
          <li class="dt-side-nav__item">
            <a href="/admin/user/profile" class="dt-side-nav__link" title="Profile"> <i
                class="icon icon-profile2 icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Profile</span> </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="/admin/user/information" class="dt-side-nav__link" title="Update Profile"> <i
                class="icon icon-profile2 icon-fw icon-xl"></i>
              <span class="dt-side-nav__text">Update Profile</span> </a>
          </li>


        </ul>
        <!-- /sidebar navigation -->



  </div>
</aside>
<div class="dt-content-wrapper">