<% include sidebar.ejs %>

<div class="dt-content">

    <!-- Page Header -->
    <div class="dt-page__header">
        <h1 class="dt-page__title">Account Information</h1>
    </div>
    <!--  /page header -->



    <!-- Grid -->
    <div class="row">
        <!-- Grid Item -->
        <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->

                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">A. User Information</h3>
                    </div>
                    <!-- /card heading -->

                </div>

                <!-- /card header -->
                <div class="dt-card__body">
                    <form>
                        <div class="form-row">
                            <div class="col-sm-6 mb-3">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter First Name" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter Last Name" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Job Description</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter Language" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Contact Number</label>
                                <input type="number" class="form-control" id="validationDefault03"
                                    placeholder="Enter Contact Number" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Address</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter Address" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Username</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter UserName" required>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Email</label>
                                <input type="email" class="form-control" id="validationDefault03"
                                    placeholder="Enter Email" required>
                            </div>



                            <div class="col-sm-6 mb-3">
                                <label>Recieved Emails</label>
                                <div class="input-group">
                                    <select class="custom-select" id="inputGroupSelect04">
                                        <option selected>Choose Status of the emails</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Language</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter Language" required>
                            </div>


                            <div class="col-sm-12 mb-3 form-row">
                                <label class=" col-form-label text-sm-left" for="file-field">Profile Picture</label>

                                <div class="col-md-12 col-sm-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file-field">
                                        <label class="custom-file-label" for="file-field">Upload your pic here
                                            ..</label>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <hr class="border-dashed my-8">

                        <div class="form-group form-row mb-0 col-md-12">
                            <button type="submit" class="btn btn-primary text-uppercase">Submit this
                                Information</button>
                        </div>

                    </form>
                </div>
                <!-- Card Body -->


            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->



    <div class="row">
        <!-- Grid Item -->
        <div class="col-xl-6">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->

                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">B. Change Password</h3>
                    </div>
                    <!-- /card heading -->

                </div>

                <!-- /card header -->
                <div class="dt-card__body">
                    <form>

                        <div class="col-sm-12 mb-3 form-row">
                            <label>New Password</label>
                            <div class="col-md-12 col-sm-9">
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Enter New Password" required>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3 form-row">
                            <label>Retype Password</label>
                            <div class="col-md-12 col-sm-9">
                                <input type="text" class="form-control" id="validationDefault03"
                                    placeholder="Retype Password" required>
                            </div>
                        </div>

                        <hr class="border-dashed my-8">

                        <div class="form-group form-row mb-0 col-md-12">
                            <button type="submit" class="btn btn-primary text-uppercase">Change Password</button>
                        </div>


                        <!-- /grid -->

                    </form>
                </div>
            </div>
        </div>

        <!-- Grid Item -->
        <div class="col-xl-6">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->

                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">C. Change Header and Footer</h3>
                    </div>
                    <!-- /card heading -->

                </div>

                <!-- /card header -->
                <div class="dt-card__body">
                    <form>

                        <div class="col-sm-12 mb-3 form-row">
                            <label class=" col-form-label text-sm-left" for="file-field">Add Header</label>

                            <div class="col-md-12 col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-field">
                                    <label class="custom-file-label" for="file-field">Upload your Header here
                                        ..</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3 form-row">
                            <label class=" col-form-label text-sm-left" for="file-field">Add Footer</label>

                            <div class="col-md-12 col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-field">
                                    <label class="custom-file-label" for="file-field">Upload your Footer Here
                                        ..</label>
                                </div>
                            </div>
                        </div>

                        <hr class="border-dashed my-8">

                        <div class="form-group form-row mb-0 col-md-12">
                            <button type="submit" class="btn btn-primary text-uppercase">Change Header and
                                Footer</button>
                        </div>


                        <!-- /grid -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /site content -->


<% include footer.ejs %>