
<% include sidebar.ejs %>

    


<!-- Site Content -->
<div class="dt-content">

  <!-- Page Header -->
  <div class="dt-page__header">
    <h1 class="dt-page__title">All Tools</h1>
  </div>
  <!-- /page header -->

  <!-- Grid -->
  <div class="row">

    <!-- Grid Item -->
    <div class="col-xl-12">

      <!-- Entry Header -->
      <div class="dt-entry__header">

        <!-- Entry Heading -->
        <!-- <div class="dt-entry__heading">
          <h3 class="dt-entry__title">Data Table</h3>
        </div> -->
        <!-- /entry heading -->

      </div>
      <!-- /entry header -->

      <!-- Card -->
      <div class="dt-card overflow-hidden">

          <!-- Card Body -->
          <div class="dt-card__body p-0">

              <!-- Tables -->
              <div class="table-responsive">
                  <table class="table table-hover mb-0">
                      <thead>
                          <tr>
                
                <th>Tools Status</th>
                <th>Category</th>
                <th>Next Inspection</th>
                <th>Next Maintenance</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Serial Number</th>
                <th>Norms</th>
                <th>Supplier</th>
                <th>Location</th>
                <th>Certifying Certificate</th>
              </tr>
              </thead>
              <tbody>
              <tr class="gradeX">
                <td>Passed</td>
                <td>Hand Tool</td>
                <td>30 Aug 2020</td>
                <td></td>
                <td>Drill</td>
                <td>1</td>
                <td>Makita</td>
                <td></td>
                <td>LXD1C0W 18-Volt</td>
                <td>NEN3140</td>
                <td>Nomag</td>
                <td>Production 3</td>
                <td>Fire Certifiying</td>
                
              </tr>
              <tr class="gradeC">
                    <td>Not Passed</td>
                    <td>Ladders</td>
                    <td>1 Jul 2019</td>
                    <td></td>
                    <td>Ladder</td>
                    <td>1</td>
                    <td>Little Giant</td>
                    <td></td>
                    <td>Ladder 27</td>
                    <td>EN131</td>
                    <td>Nomag</td>
                    <td>Production 3</td>
                    <td>Ladder Certifying</td>
              </tr>
              <tr class="gradeA">
                    <td>Passed</td>
                    <td>Safety</td>
                    <td>6 Sep 2019</td>
                    <td></td>
                    <td>Fire Hose</td>
                    <td>5</td>
                    <td>Chubb</td>
                    <td>20 mtr</td>
                    <td>EE004</td>
                    <td>EN131</td>
                    <td>Nomag</td>
                    <td>Production 3</td>
                    <td>Drill Certifying</td>

              </tr>
              <tr class="gradeA">
                    <td>Not Passed</td>
                    <td>Ladders</td>
                    <td>1 Jun 2019</td>
                    <td></td>
                    <td>Ladder</td>
                    <td>1</td>
                    <td>Little Giant</td>
                    <td></td>
                    <td>Ladder 22</td>
                    <td>EN131</td>
                    <td>Nomag</td>
                    <td>Production 3</td>
                    <td>Ladder Certifying</td>

              </tr>
              <tr class="gradeA">
                    <td>Passed</td>
                    <td>Safety</td>
                    <td>6 Sep 2019</td>
                    <td></td>
                    <td>Fire Hose</td>
                    <td>5</td>
                    <td>Chubb</td>
                    <td>10 mtr</td>
                    <td>EE004</td>
                    <td>EN131</td>
                    <td>Nomag</td>
                    <td>Production 3</td>
                    <td>Fire Certifying</td>

              </tr>
              
              </tbody>
              
            </table>

          </div>
          <!-- /tables -->

        </div>
        <!-- /card body -->

      </div>
      <!-- /card -->

    </div>
    <!-- /grid item -->

  </div>
  <!-- /grid -->

</div>

<% include footer.ejs %>
