
  <!-- Footer -->
  <footer class="dt-footer">
    Qfirst by Vamah © 2019
  </footer>
  <!-- /footer -->


<!-- /site content wrapper -->

</main>
</div>
</div>
<!-- /root -->

<!-- Optional JavaScript -->
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/assets/node_modules/moment/moment.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="/assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<!-- /perfect scrollbar jQuery -->

<!-- masonry script -->
<script src="/assets/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
<script src="/assets/node_modules/sweetalert2/dist/sweetalert2.js"></script>

<script src="/assets/node_modules/moment/min/moment.min.js"></script>
<script src="/assets/node_modules/moment/min/locales.min.js"></script>
<script src="/assets/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/assets/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script src="/assets/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>

<script src="/assets/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/custom/data-table.js"></script>
<script src="/assets/js/custom/charts/dashboard-crypto.js"></script>
<script src="/assets/node_modules/summernote/dist/summernote-bs4.js"></script>
<script src="/assets/js/custom/editor-summernote.js"></script>
<script src='/assets/node_modules/core/main.js'></script>
<script src='/assets/node_modules/daygrid/main.js'></script>


