<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass"> -->
  <!-- /meta tags -->
  <title>Qfirst</title>

  <!-- Site favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <!-- /site favicon -->

  <!-- Font Icon Styles -->
  <link rel="stylesheet" href="/assets/node_modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets/vendors/gaxon-icon/style.css">
  <!-- /font icon Styles -->

  <!-- Perfect Scrollbar stylesheet -->
  <link rel="stylesheet" href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/node_modules/summernote/dist/summernote-bs4.css">


  <script type="text/javascript" src="https://cdn.tiny.cloud/1/zhf2jqrxaqv0ddu52capasosra3scjcofnuoj2kirobtau61/tinymce/5/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: '#tinymyTextarea',
      skin: 'dark',
      width: 600,
      height: 300,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table directionality emoticons template paste'
      ],
      // content_css: 'css/content.css',
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
    </script>

  <!-- /perfect scrollbar stylesheet -->

  <!-- Load Styles -->
  <link rel="stylesheet" href="/assets/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">


  <link rel="stylesheet" href="/assets/css/semidark-style-1.min.css">
  <!-- /load styles -->

</head>

<body class="dt-sidebar--fixed dt-header--fixed">

  <!-- Loader -->
  <div class="dt-loader-container">
      <div class="dt-loader">
          <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10">
              </circle>
          </svg>
      </div>
  </div>
  <!-- /loader -->

  <!-- Root -->
  <div class="dt-root">

      <!-- Login Container -->
      <div class="dt-login--container dt-app-login--container">

          <!-- Login Content -->
          <div class="dt-login__content-wrapper">

              <!-- Login Background Section -->
              <div class="dt-login__bg-section">

                  <div class="dt-login__bg-content">
                      <!-- Login Title -->
                      <h1 class="dt-login__title">Sign In</h1>
                      <!-- /login title -->

                      <p class="f-16">By Signing Up, you can avail full features of our services.</p>

                      <p class="f-16">Get an account by raise the request on Qfirst support !!!</p>
                  </div>


                  <!-- Brand logo -->
                  <div class="dt-login__logo">
                      <a class="dt-brand__logo-link" href="/">
                          <img class="dt-brand__logo-img" src="/img/logo.png" alt="qfirst">
                      </a>
                  </div>
                  <!-- /brand logo -->

              </div>
              <!-- /login background section -->

              <!-- Login Content Section -->
              <div class="dt-login__content">

                  <!-- Login Content Inner -->
                  <div class="dt-login__content-inner">

                      <!-- Form -->
                      <form action="/" method="post">

                          <!-- Form Group -->
                          <div class="form-group">
                              <label class="sr-only" for="">Username</label>
                              <input type="text" class="form-control" name="username" id="" aria-describedby=""
                                  placeholder="Enter username" required>
                          </div>
                          <!-- /form group -->

                          <!-- Form Group -->
                          <div class="form-group">
                              <label class="sr-only" for="password-1">Password</label>
                              <input type="password" class="form-control" name="password" id="password-1" placeholder="Password" required>
                          </div>
                          <!-- /form group -->

                          <!-- Form Group -->
                          <div class="custom-control custom-checkbox mb-6 mb-lg-8">
                              <input class="custom-control-input" type="checkbox" id="checkbox-1" checked="checked">
                              <label class="custom-control-label" for="checkbox-1">by signing up, I accept <a
                                      href="javascript:void(0)" class="px-2">Term &amp; Condition</a></label>
                          </div>
                          <!-- /form group -->

                          <!-- Form Group -->
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary text-uppercase">Sign In</button>
                              <span class="d-inline-block ml-4">Or
                                  <a class="d-inline-block font-weight-medium ml-3" href="/signup"> request for Sign In
                                      </a>
                              </span>
                          </div>
                          <!-- /form group -->

                          <!-- Form Group -->
                          <div class="d-flex flex-wrap align-items-center mb-3 mb-md-4">
                              <span class="d-inline-block mr-2">Or connect with</span>

                              <!-- List -->
                              <ul class="dt-list dt-list-sm dt-list-cm-0 ml-auto">
                                  <li class="dt-list__item">
                                      <!-- Fab Button -->
                                      <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                          <i class="icon icon-facebook icon-xl"></i>
                                      </a>
                                      <!-- /fab button -->
                                  </li>

                                  <li class="dt-list__item">
                                      <!-- Fab Button -->
                                      <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                          <i class="icon icon-google-plus icon-xl"></i>
                                      </a>
                                      <!-- /fab button -->
                                  </li>

                                  <li class="dt-list__item">
                                      <!-- Fab Button -->
                                      <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                          <i class="icon icon-github icon-xl"></i>
                                      </a>
                                      <!-- /fab button -->
                                  </li>

                                  <li class="dt-list__item">
                                      <!-- Fab Button -->
                                      <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
                                          <i class="icon icon-twitter icon-xl"></i>
                                      </a>
                                      <!-- /fab button -->
                                  </li>
                              </ul>
                              <!-- /list -->
                          </div>
                          <!-- /form group -->

                          <!-- <span class="text-light-gray"> demo user email: 'demo@example.com' and password:
                              'demo#123'</span> -->


                      </form>
                      <!-- /form -->

                  </div>
                  <!-- /login content inner -->

              </div>
              <!-- /login content section -->

          </div>
          <!-- /login content -->

      </div>
      <!-- /login container -->

  </div>
  <!-- /root -->

  <!-- Optional JavaScript -->
  <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/assets/node_modules/moment/moment.js"></script>
  <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Perfect Scrollbar jQuery -->
  <script src="/assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <!-- /perfect scrollbar jQuery -->

  <!-- masonry script -->
  <script src="/assets/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
  <script src="/assets/node_modules/sweetalert2/dist/sweetalert2.js"></script>

  <!-- Custom JavaScript -->
  <script src="/assets/js/script.js"></script>

</body>

</html>