
<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass"> -->
  <!-- /meta tags -->
  <title>Qfirst</title>

  <!-- Site favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <!-- /site favicon -->

  <!-- Font Icon Styles -->
  <link rel="stylesheet" href="/assets/node_modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets/vendors/gaxon-icon/style.css">
  <!-- /font icon Styles -->

  <!-- Perfect Scrollbar stylesheet -->
  <link rel="stylesheet" href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/node_modules/summernote/dist/summernote-bs4.css">


  <script type="text/javascript" src="https://cdn.tiny.cloud/1/zhf2jqrxaqv0ddu52capasosra3scjcofnuoj2kirobtau61/tinymce/5/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: '#tinymyTextarea',
      skin: 'dark',
      width: 600,
      height: 300,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table directionality emoticons template paste'
      ],
      // content_css: 'css/content.css',
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
    </script>

  <!-- /perfect scrollbar stylesheet -->

  <!-- Load Styles -->
  <link rel="stylesheet" href="/assets/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">

  <link href='/assets/node_modules/core/main.css' rel='stylesheet' />
    <link href='/assets/node_modules/daygrid/main.css' rel='stylesheet' />


  <link rel="stylesheet" href="/assets/css/semidark-style-1.min.css">
  <!-- /load styles -->

</head>
<body class="dt-sidebar--fixed dt-header--fixed">

  <!-- Loader -->
  <div class="dt-loader-container">
      <div class="dt-loader">
          <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10">
              </circle>
          </svg>
      </div>
  </div>
  <!-- /loader -->

  <!-- Root -->
  <div class="dt-root">

      <!-- <div class="dt-content-wrapper"> -->

          <!-- Site Content -->
          <div class="dt-content">
    

      <!-- Login Container -->
      <div class="dt-login--container dt-app-login--container">

          <!-- Login Content -->
          <div class="dt-login__content-wrapper">
  
      <!-- Login Content Inner -->
      <div class="dt-login__content-inner md-6">
      
        <div class="text-center mb-8">
           <h1>Sign Up</h1>
        </div>
        
        <!-- Form -->
        <form action="/signup" method="post">
        
        <!-- Form Group -->
        <div class="form-group">
          <label class="sr-only" for="email-1">Username</label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label class="sr-only" for="email-1">Name</label>
            <input type="text" class="form-control" name="name" id="Name" aria-describedby="Name" placeholder="Name">
          </div>

          <div class="form-group">
              <label class="sr-only" for="email-1">Email Adress</label>
              <input type="email" class="form-control" name="email" id="Email Adress" aria-describedby="Email Adress" placeholder="Email Adress">
            </div>
        <!-- /form group -->
        
        <!-- Form Group -->
        
        <!-- /form group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label class="sr-only" for="password-1">Password</label>
          <input type="password" class="form-control" name="password" id="password-1" placeholder="Password">
        </div>
        <!-- /form group -->


        
        <!-- Form Group -->
        <!-- <div class="form-group">
          <label class="sr-only" for="password-2">Confirm Password</label>
          <input type="password" class="form-control" id="password-2" placeholder="Confirm Password">
        </div> -->
        <!-- /form group -->

        <div class="form-group">
          <label class="sr-only" for="">Contact Number</label>
          <input type="text" class="form-control" name="phone" id="" aria-describedby="email-1" placeholder="Enter contact number">
        </div>

        <div class="form-group">
          <label class="sr-only" for="">Company Name</label>
          <input type="text" class="form-control" name="companyname" id="" aria-describedby="email-1" placeholder="Enter company name">
        </div>

        <!-- Form Group -->
        <div class="custom-control custom-checkbox mt-9 mb-8">
          <input class="custom-control-input" type="checkbox" id="checkbox-1" checked="checked">
          <label class="custom-control-label" for="checkbox-1">Remember me 
            </label>
        </div>
        <!-- /form group -->
        
        <!-- Form Group -->
        <div class="form-group text-center mb-8">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </span>
        </div>
        <!-- /form group -->
        
        <div class="d-flex flex-wrap align-items-center mb-4">
          <span class="d-inline-block mr-3">or Sign up using:</span>
  
          <!-- List -->
          <ul class="dt-list dt-list-sm dt-list-cm-0">
          <li class="dt-list__item">
            <!-- Fab Button -->
            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
            <i class="icon icon-facebook icon-xl"></i>
            </a>
            <!-- /fab button -->
          </li>
  
          <li class="dt-list__item">
            <!-- Fab Button -->
            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
            <i class="icon icon-google-plus icon-xl"></i>
            </a>
            <!-- /fab button -->
          </li>
  
          <li class="dt-list__item">
            <!-- Fab Button -->
            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
            <i class="icon icon-github icon-xl"></i>
            </a>
            <!-- /fab button -->
          </li>
  
          <li class="dt-list__item">
            <!-- Fab Button -->
            <a href="javascript:void(0)" class="btn btn-outline-primary dt-fab-btn size-30">
            <i class="icon icon-twitter icon-xl"></i>
            </a>
            <!-- /fab button -->
          </li>
          </ul>
          <!-- /list -->
        </div>
  
        </form>
        <!-- /form -->
  
      </div>
      <!-- /login content inner -->
  
    </div>
    <!-- /login content -->
  
    </div>
   <!-- /login container -->

    </div>
    <!-- /site content -->

  <!-- Footer -->
  
  <!-- /footer -->

  </div>
</div>
</body>
  
</html>
<!-- Mirrored from light.pinsupreme.com/auth_register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2019 07:33:59 GMT -->
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/assets/node_modules/moment/moment.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="/assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<!-- /perfect scrollbar jQuery -->

<!-- masonry script -->
<script src="/assets/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
<script src="/assets/node_modules/sweetalert2/dist/sweetalert2.js"></script>

<script src="/assets/node_modules/moment/min/moment.min.js"></script>
<script src="/assets/node_modules/moment/min/locales.min.js"></script>
<script src="/assets/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/assets/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script src="/assets/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>

<script src="/assets/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/custom/data-table.js"></script>
<script src="/assets/js/custom/charts/dashboard-crypto.js"></script>
<script src="/assets/node_modules/summernote/dist/summernote-bs4.js"></script>
<script src="/assets/js/custom/editor-summernote.js"></script>
<script src='/assets/node_modules/core/main.js'></script>
<script src='/assets/node_modules/daygrid/main.js'></script>

