
<% include head.ejs %>
<!-- Header Container / End -->

<!-- Banner
================================================== -->
<body class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
      <div class="logo-w"><a href="index-2.html"><img alt="" src="img/logo-big.png"></a></div>
      <h4 class="auth-header">Re-set The Password</h4>

							<form  action="/password/reset" method="post">
                <div class="form-group"><label for="">Password</label><input class="form-control" name="password" placeholder="Enter your password" type="password">
                  <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>

                  <div class="form-group"><label for="">Confirm Password</label><input class="form-control" placeholder="Password" type="password">
                  <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <div class="col-sm-6">
                 <div class="form-group"><input class="form-control" value="<%= user.username %>" name="username" placeholder="Password" type="hidden"></div>
               </div>
								<div class="buttons-w"><button class="btn btn-primary">Reset the Password</button>

							</form>


          </div>
        </div>
