<% include head.ejs %>

<body>
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w wider">
      <div class="logo-w"><a href="index-2.html"><img alt="" src="img/logo-big.png"></a></div>
      <h4 class="auth-header">Set Your Account Password</h4>
      <form action="/set/password" method="post">
        <div class="form-group"><label for="">Username</label><input class="form-control" value=<%= user.username%> name="username" placeholder="Enter your username" type="text" readonly>
          <div class="icon-user"></div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group"><label for=""> Password</label><input class="form-control" name="password" placeholder="Password" type="password">
              <div class="pre-icon os-icon os-icon-fingerprint"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group"><label for="">Confirm Password</label><input class="form-control" placeholder="Password" type="password"></div>
          </div>
        </div>
        <div class="buttons-w"><button class="btn btn-primary">Set Password</button></div>
      </form>
    </div>
  </div>
</body>
<!-- Mirrored from light.pinsupreme.com/auth_register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2019 07:33:59 GMT -->

</html>
