<% include sidebar.ejs %>

<div class="dt-content">

  <!-- Page Header -->
  <!-- <div class="dt-page__header">
      <h1 class="dt-page__title">Basic Form</h1>
    </div> -->
  <!-- /page header -->



  <!-- Grid -->
  <div class="row">
    <!-- Grid Item -->
    <div class="col-12">

      <!-- Card -->
      <div class="dt-card">

        <!-- Card Header -->
        <div class="dt-card__header">

          <!-- Card Heading -->
          <div class="dt-card__heading">
            <h3 class="dt-card__title">New Planning's</h3>

          </div>

          <a type="button" href="/add/planning/categories" role="button" openCategories() class="btn btn-dark mr-2 mb-2">Add Planning
            Type</a>
          <!-- <button type="button" href="javascript:void(0)" role="button" class="btn btn-dark mr-2 mb-2">Add Procedure Tags</button> -->
          <a  href="javascript:void(0)"  class="btn btn-dark mr-2 mb-2">Add Audit
            Tags</a>
          <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body">

          <!-- Form -->
          <form>


            <!-- Form Row -->
            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="simple-select">Planning
                Categories</label>
              <div class="col-md-10 col-sm-9">
                <select class="custom-select" id="inputGroupSelect04">
                  <option selected>Choose Planning Categories</option>
                  <option value="1">Internal Meeting</option>
                  <option value="2">External Meeting</option>
                  <option value="3">Internal Audit</option>
                </select>
              </div>
            </div>

            <!-- /form row -->
            <br />
            <!-- Form Row -->

            <!-- Form Row -->
            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Planning Title</label>

              <div class="col-md-10 col-sm-9">
                <input type="text" class="form-control" name="planning_title" id="normal-input-1"
                  placeholder="Enter title of this meeting">
              </div>
            </div>
            <!-- /form row -->
            <br />
            <!-- Form Row -->

            <!-- Form Row -->
            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="simple-select">Audit Tags</label>
              <div class="col-md-10 col-sm-9">
                <select class="custom-select" id="inputGroupSelect04">
                  <option selected>Choose Audit Tags</option>
                  <option value="1">Quality</option>
                  <option value="2">Purchase</option>
                  <option value="3">Sales</option>
                </select>
              </div>
            </div>

            <br />

            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="normal-input-1">Add Digital toolbox
                Tags</label>

              <div class="col-md-10 col-sm-9">
                <input type="text" class="form-control" name="add_digital_tags" id="normal-input-1"
                  placeholder="Add digital toolbox tags">
              </div>
            </div>

            <br />
            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="file-field">Attached Files</label>

              <div class="col-md-10 col-sm-9">
                <div class="custom-file">
                  <input type="file" name="file" class="custom-file-input" id="file-field">
                  <label class="custom-file-label" for="file-field">Choose file...</label>
                </div>
              </div>
            </div>
            <!-- /form row -->
            <br />
            <!-- Form Row -->
            <div class="form-row input-group">
              <label class="col-md-2 col-sm-3 col-form-label text-sm-right" for="text-area-1">Meeting
                Discription</label>

              <div class="col-md-10 col-sm-9">
                  <div id="summernote">
        
                    </div>
                
              </div>
            </div>
            <!-- /form row -->
            <br />



            <div class="form-row input-group">

              <div class="col-md-12 offset-md-2 offset-sm-3">
                <button class="btn btn-primary" style='float:left;' type="submit">Submit this Meeting</button>
              </div>
            </div>

          </form>
          <!-- /form -->

        </div>
        <!-- /card body -->

      </div>
      <!-- /card -->

    </div>
    <!-- /grid item -->

  </div>
  <!-- /grid -->

</div>
<!-- /site content -->


<script>
  function openCategories() {
    window.open("/add/planning/categories");
  }
</script>



<% include footer.ejs %>