<% include sidebar.ejs %>

<div class="dt-content">

    <div class="profile">

        <!-- Profile Banner -->
        <div class="profile__banner">

            <!-- Profile Banner Top -->
            <div class="profile__banner-top">
                
                


            </div>
            <!-- /profile banner top -->

            <!-- Profile Banner Bottom -->
            <div class="profile__banner-bottom">
            </div>
        </div>
        <div class="profile-content">

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-8 order-xl-2">


                    <!-- Grid -->
                    <div class="row">

                        <!-- Grid Item -->



                        <!-- Grid Item -->
                        <div class="col-xl-12 col-md-6 col-12 order-xl-1">

                            <!-- Card -->
                            <div class="dt-card dt-card__full-height">

                                <!-- Card Header -->
                                <div class="dt-card__header card-nav">

                                    <!-- Card Heading -->
                                    <ul class="card-header-tabs nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tab-pane1" role="tab"
                                                aria-controls="tab-pane1" aria-selected="true">Notes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-pane2" role="tab"
                                                aria-controls="tab-pane2" aria-selected="true">Conclusion</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-pane3" role="tab"
                                                aria-controls="tab-pane3" aria-selected="true">Tasks</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-pane4" role="tab"
                                                aria-controls="tab-pane4" aria-selected="true">Root Causes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-pane5" role="tab"
                                                aria-controls="tab-pane5" aria-selected="true">Files</a>
                                        </li>
                                    </ul>

                                    <!-- /card heading -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="tab-content">

                                    <!-- Tab panel -->
                                    <div id="tab-pane1" class="tab-pane active">

                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <!-- Card Title-->

                                            <!-- Card Title-->
                                            <form>
                                                <!-- Card Text-->
                                                <div class="form-row">
                                                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                                                        for="text-area-1">Add your Notes Here</label>

                                                    <div class="col-md-10 col-sm-9">
                                                        <textarea class="form-control" id="text-area-1" rows="3"
                                                            placeholder="Notes"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- /card text-->

                                            <!-- Card Link-->
                                            <!-- <a href="javascript:void(0)" class="card-link">Goto Link</a> -->
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /tab panel -->

                                    <!-- Tab panel -->
                                    <div id="tab-pane2" class="tab-pane ">

                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <!-- Card Title-->
                                            <form>
                                                <!-- Card Text-->
                                                <div class="form-row">
                                                    <label class="col-md-2 col-sm-3 col-form-label text-sm-right"
                                                        for="text-area-1">Add your Conclusions Here</label>

                                                    <div class="col-md-10 col-sm-9">
                                                        <textarea class="form-control" id="text-area-1" rows="3"
                                                            placeholder="Conclusion"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /tab panel -->

                                    <!-- Tab panel -->
                                    <div id="tab-pane3" class="tab-pane ">

                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <form>
                                            <!-- Card Title-->
                                            <div class=" col-sm-12 mb-4 ">
                                                    <label class=" text-sm-left mb-4">Tasks</label>
                                                  <a type="button" href="/create/task" role="button" class="btn btn-dark mr-2 mb-2">Create New Tasks</a>
                                                </div>

                                            </form>
                                            <!-- /card text-->

                                            <!-- Card Link-->
                                            
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>

                                    <div id="tab-pane4" class="tab-pane ">

                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <!-- Card Title-->
                                            <form>
                                                    <!-- Card Title-->
                                                    <div class=" col-sm-12 mb-4 ">
                                                            <label class=" text-sm-left mb-4">Root Cause</label>
                                                          <a type="button" href="/create/rootcause" role="button" class="btn btn-dark mr-2 mb-2">Create Root Causes</a>
                                                        </div>
        
                                                    </form>
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>

                                    <div id="tab-pane5" class="tab-pane ">

                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <!-- Card Title-->
                                            <form>
                                                    <!-- Card Title-->
                                                    <div class=" col-sm-12 mb-4 ">
                                                            <label class=" text-sm-left mb-4">Attach File</label>
                                                          <a type="button" href="#" role="button" class="btn btn-dark mr-2 mb-2">Upload Here</a>
                                                        </div>
        
                                                    </form>
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <div class="tab-pane">

                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <!-- Card Title-->
                                            <h2 class="card-title">Card With Tabs</h2>
                                            <!-- Card Title-->

                                            <!-- Card Text-->
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk
                                                of the card's content.
                                            </p>
                                            <!-- /card text-->

                                            <!-- Card Link-->
                                            <a href="javascript:void(0)" class="card-link">Goto Link</a>
                                            <!-- /card link-->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /tab panel -->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->


                    </div>
                    <!-- /grid -->

                </div>
                <!-- /grid item -->

                <!-- Grid Item -->
                <div class="col-xl-4 order-xl-1">

                    <!-- Card -->
                    <div class="card">

                        <!-- Card Header -->
                        <div class="card-header card-nav bg-transparent d-flex justify-content-between">
                            <h2 class="mb--20">Vat Jasmin</h2>



                        </div>
                        <!-- /card header -->

                        <!-- Card Body -->
                        <div class="card-body pb-2">

                            <!-- Tab Content-->
                            <div class="tab-content mt-5">

                                <p>Status : Approved</p>
                                <p>Type : Supplier Issue</p>
                                <p>Creater : Jasmin Dhakaan</p>
                                <p>Filling Date : May 05, 2019</p>
                                <p>Number : 1</p>
                                <p>Customer Name : Vamah</p>
                                <p>Order Number : IE8965</p>
                                <p>Project Number : IE89VHJD</p>
                                <p>Financial Impact : $8000</p>
                                <p>Description : Certification Error Occured</p>

                            </div>
                            <!-- /media -->

                            <!-- /list item -->

                            <!-- /list -->

                        </div>
                        <!-- /tab panel -->

                        <!-- Tab panel -->
                        <!-- /tab panel -->

                        <!-- Tab panel -->


                    </div>
                    <!-- /tab content-->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

            <!-- Card -->
            <div class="dt-card dt-card__full-height">

                <!-- Card Header -->
                <div class="dt-card__header card-nav">

                    <!-- Card Heading -->
                    <ul class="card-header-tabs nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab2-pane1" role="tab"
                                aria-controls="tab-pane1" aria-selected="true">All Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2-pane2" role="tab" aria-controls="tab-pane2"
                                aria-selected="true">Issue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2-pane3" role="tab" aria-controls="tab-pane3"
                                aria-selected="true">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2-pane4" role="tab" aria-controls="tab-pane4"
                                aria-selected="true">Conclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2-pane5" role="tab" aria-controls="tab-pane5"
                                aria-selected="true">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-pane6" role="tab" aria-controls="tab-pane6"
                                aria-selected="true">Root Causes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-pane7" role="tab" aria-controls="tab-pane7"
                                aria-selected="true">Files</a>
                        </li>
                    </ul>

                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="tab-content">

                    <!-- Tab panel -->
                    <div id="tab2-pane1" class="tab-pane active">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Activities</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the Issue.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card text-->

                            <!-- Card Link-->
                            <!-- <a href="javascript:void(0)" class="card-link">Goto Link</a> -->
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /tab panel -->

                    <!-- Tab panel -->
                    <div id="tab2-pane2" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Issues</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the Issue.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /tab panel -->

                    <!-- Tab panel -->
                    <div id="tab2-pane3" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Notes</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the Note.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>

                    <div id="tab2-pane4" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Conclusion</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the Conclusion.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>

                    <div id="tab2-pane5" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Tasks</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the tasks.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>
                    <div id="tab-pane6" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Root Cause</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan created the Root Cause.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>
                    <div id="tab-pane7" class="tab-pane ">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- Card Title-->
                            <h4 class="card-title">All Files</h4>
                            <!-- Card Title-->
                            <div class="flex-1 overflow-hidden mb-6 pr-sm-3">
                                <!-- Card Text-->
                                <p class="card-text">
                                    Jasmin Dhakaan attach the file.</p>
                                <ul class="dt-list f-12">
                                    <li class="dt-list__item"><i class="icon icon-chat-new mr-2"></i>Sep24, 2016 16:32
                                    </li>
                                </ul>
                            </div>
                            <!-- /card link-->

                        </div>
                        <!-- /card body -->

                    </div>
                    
                        <!-- /card body -->

                    </div>
                    <!-- /tab panel -->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

            <!-- Card -->

            <!-- /card -->

            <!-- Card -->
           

                <!-- Slider -->

                <!-- /slider -->

                <!-- Card Stacked -->

                <!-- /card body -->

                <!-- Card Footer -->

                <!-- /card -->

            
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

</div>
<!-- /grid -->



<!-- /grid -->


<!-- /site content -->


<% include footer.ejs %>